#wrapper {
  height: 100vh;
}

#sidebar {
  width: 250px;
  min-height: 100vh;
}

.nav-link {
  cursor: pointer;
}

  .nav-link:hover {
    background: rgba(255,255,255,0.1);
    border-radius: 4px;
  }
